@page
@model MyShopRazorPages.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" />
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Login</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input asp-for="Credential.User" type="text" class="form-control" id="username" placeholder="Enter your username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input asp-for="Credential.Password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
                            </div>
                            @if (Model.ErrorString != "")
                            {
                                <div class="text-danger mt-2">@Model.ErrorString</div>
                            }
                            <div class="d-flex justify-content-center" style="width: 100%;">
                                <button type="submit" class="btn btn-primary btn-block mt-2">Login</button>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>